@charset "utf-8";

body{
    background-color: white;
    -webkit-font-smoothing: antialiased;
    margin: 4px;
}

p1{
    margin-left: 0.625rem;
    font-size: 30px;
    font-family:"roboto","helvetica";
    font-weight: 400;
    color: #5f6368;
    display: inline;
}
p2{
    margin-left: 0.625rem;
    font-size: 20px;
    font-family:"roboto","helvetica";
    font-weight: 400;
    color: #5f6368;
}

p3{
    margin-left: 0.625rem;
    font-size: 20px;
    font-family:"roboto","helvetica";
    font-weight: 400;
    color: #5f6368;
}

table{
    border:2px white solid;
    border-collapse: collapse;
    background-color: whitesmoke;
    font-family:"roboto","helvetica";
    font-weight: 400;
} 
th{
    border:1px white solid;
    padding:1px 40px;
    font-family:"roboto","helvetica";
    font-weight: thin;
}
td{
    border:1px white solid;
    padding:15px 40px;
}

.login_button {
  position: relative;
  display: inline;
  align-items: right;
  justify-content: right;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: right;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;
}

.login_button::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #5f6368;
  transform: scaleX(0);
  transform-origin: right top;
}

@media (any-hover: hover) {
  .login_button::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .login_button:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}


.home {
  position: relative;
  display: inline;
  align-items: left;
  justify-content: left;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: left;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;
}

.home::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #5f6368;
    transform: scaleX(0);
    transdform-origin: right top;
}

@media (any-hover: hover) {
  .home::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .home:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

.assignments {
  position: relative;
  display: inline;
  align-items: left;
  justify-content: left;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: left;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;    
}

.assignments::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #5f6368;
    transform: scaleX(0);
    transdform-origin: right top;
}

@media (any-hover: hover) {
  .assignments::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .assignments:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

.classes {
  position: relative;
  display: inline;
  align-items: left;
  justify-content: left;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: left;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;    
    
}

.classes::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #5f6368;
    transform: scaleX(0);
    transdform-origin: right top;
}

@media (any-hover: hover) {
  .classes::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .classes:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

.notifications {
  position: relative;
  display: inline;
  align-items: left;
  justify-content: left;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: left;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;    
    
}

.notifications::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #5f6368;
    transform: scaleX(0);
    transdform-origin: right top;
}

@media (any-hover: hover) {
  .notifications::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .notifications:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

.chats {
  position: relative;
  display: inline;
  align-items: left;
  justify-content: left;
  height: 30px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #5f6368;
  text-align: left;
  overflow-wrap: anywhere;
  background: transparent;
  text-decoration: none;        
}

.chats::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #5f6368;
    transform: scaleX(0);
    transdform-origin: right top;
}

@media (any-hover: hover) {
  .chats::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .chats:hover::after {
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
    transform: scaleX(1);
    transform-origin: left top;
  }
}

.border_btn02 {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 350px; /* ボタン幅 */
  position: relative;
  color: #b7262e; /* 文字色 */
  padding: 1em 2em;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.border_btn02::before,
.border_btn02::after {
  position: absolute;
  width: 100%;
  height: 2px; /* 線幅 */
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #b7282e; 
}

.border_btn02::before {
  top: 0;
  left: 0;
}

.border_btn02::after {
  right: 0;
  bottom: 0;
}

/* マウスオーバーした際のデザイン */
.border_btn02:hover:before,
.border_btn02:hover:after {
  width: 0;
}

.today {
  color:black;
}

.not_today {
  color:#5f6368;
}